<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}Stack Overflow на русском{% endblock %}</title>
    <link rel="stylesheet" href="/m/css/styles.css" type="text/css" media="screen, projection">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        var currentLanguage = "{{ current_language() }}";
    </script>
    <script type="text/javascript" src="/m/scripts/scripts.js"></script>
    {% block js_ext %} {% endblock %} {% block css_ext %} {% endblock %}
</head>

<body>
    {% block body %}
    <div id="header" class="header">
        {% block header %}
        <h2><a href="/">Модератор комментариев для Stack Overflow на русском</a></h2>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
    {% endblock %}
</body>

</html>