{% extends "base.html" %} 
{% block js_ext %}
{% if g.user and (g.user.role == "moderator" or g.user.role == "employe") %}
<script type="text/javascript" async="" src="/m/scripts/review_tools.js"></script>
{% endif %}
{% if  "features" == active_tab  %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" async="" src="/m/scripts/feature_analysis.js"></script>
{% endif %}
{% endblock %} 
{% block title %}Модератор комментариев{% endblock %} 
{% block content %}
<div>
    <div class="main-menu">
        <div id="tabs">
            <a {% if "index" in active_tab %}class="active" {% endif %} href="/">Главная</a>
            {% if g.user %}
                <a {% if "features" in active_tab %}class="active" {% endif %} href="{{ url_for('features') }}">Признаки</a>
                {% if g.user.role == "moderator" or g.user.role == "employe" %}
                    <a {% if "verifying" in active_tab %}class="active" {% endif %} href="{{ url_for('verifying') }}">Для проверки</a>
                    <a {% if "skipped" in active_tab %}class="active" {% endif %} href="{{ url_for('skipped') }}">Пропущенные</a>
                    <a {% if "verified" in active_tab %}class="active" {% endif %} href="{{ url_for('verified') }}">Проверенные</a>
                {% endif%}
            {% endif %}
        </div>
    </div>

{% if 'index' == active_tab %}
    {% if not g.user %}
    <p>
        Здравствуйте! <br/><br/>
        Для работы с этим сайтом вам необходимо <a href="{{ url_for('start_oauth') }}">авторизоваться</a>. Если вы участник Stack Overflow на русском, у вас будет возможность 
        посмотреть имеющиеся признаки и как они разделяют комментарии. Пожалуйста, напишите мне в чате, если у вас появятся любые замечания или предложения 
        по улучшению программы.

        В дополнение, модераторы сообщества могут принять участие в дополнительном обучении классификатора.
    </p>
    <p>
        <a href="{{ url_for('start_oauth') }}">Войти »</a>
    </p>
    {% endif %}
    <p>
        Одна из важных особенностей Stack Overflow — высокий коэффициент соотношения «Сигнал/Шум». 
        Это означает, что на сайте содержится только полезная тематическая информация. Как бы мы не старались шум проникает на сайт, 
        особенно с новыми участниками, которые либо не до конца понимают миссию сайта, либо не знают про нее. 
        Задача сообщества — обучать новых участников правилам сайта и общепринятым подходам. 
        <br/><br/>
        Модератор комментариев призван помочь найти такие ситуации, когда что–то [уже] пошло не так: 
        либо автор вопроса, потенциально нарушивший правила сайта, негативно реагирует на рекомендации более опытных участников, 
        либо сами опытные участники, не выдержав, высказывают в грубой форме свое негодование. 
        <br/><br/>
        Мы — люди, эмоции неотъемлемая часть нашей природы. Правда, это не отменяет наше желание уменьшить шум, увеличив, по возможности, полезный сигнал.
        <br/><br/>
        Этот сайт нужен для аналитики и настройки «модератора». Результат работы программы доступны в реальном времени в чате: <a target="_blank" href="https://chat.stackexchange.com/rooms/73258/">https://chat.stackexchange.com/rooms/73258/</a>.
    </p>
{% elif "verifying" == active_tab %}
    <p>
        Пожалуйста, помните, на этой странице вы создаете обучающую выборку для модели, а не модерируете сайт. 
        Задача робо–модератора — выявить все потенциально опасные для сообщества социальные ситуации, которые повышают шум и снижают общность между людьми. 
        К этому можно отнести: (1) оскорбления; (2) сарказм в негативной коннотации и насмешки; (3) отсылка к поисковикам; 
        (4) резкие прилагательные (а–ля «жалкий», «дырявый», «идиотский», «отвратительный» и т. д.). 
        Так же стоит отмечать комментарии–ссылки и прочие нарушающие базовые правила вещи. 
        <br/><br/>
        Ниже представленных комментарии, которые программа определила как подозрительные. 
        Как вы можете видеть, комментарии далеко не всегда являются грубыми. Мы можем помочь нашему ассистенту, подсказав как переобучить модель.
        Если вы видите обычный комментарий, который получил отметку «грубый», пожалуйста, отметьте комментарий «Обычный». 
        Когда ассистент соберет N «ошибок», он автоматически вызовет создание новой модели.
    </p>
    {% if paginator.items|length == 0 %}
    <p>
        <div>Ничего нет.</div>
    </p>
    {% else %}
        {% include 'comment_view.html' %}  
    {% endif %}
{% elif  "verified" == active_tab  %}
    <p>
        {% include 'comment_view.html' %}  
    </p>
{% elif  "skipped" == active_tab  %}
    <p>
        {% include 'comment_view.html' %}  
    </p>    
{% elif  "features" == active_tab  %}
    <div>
        <p>
            <div id="score-feuture" style="width: 100%;">
                <a href="#">Нажмите, чтобы загрузить данные о <i>голосах за родительское сообщение</i>.</a>
            </div>
        </p>
        <p>
            <div id="rude_words-feuture" style="width: 100%;">
                <a href="#">Нажмите, чтобы загрузить данные о <i>количестве грубых слов в комментерии</i>.</a>
            </div>
        </p>
        <p>
            <div id="link-to-se-feuture" style="width: 100%;">
                <a href="#">Нажмите, чтобы загрузить данные о <i>количестве отправок в поиск</i>.</a>
            </div>
        </p>
    </div>
{% endif %}    

</div>

{% if "verifying" == active_tab or "skipped" == active_tab or "verified" == active_tab %}    
{% include 'paginator.html' %} 
{% endif %}

{% endblock %}