{% extends "base.html" %} 
{% block title %}Результаты работы ассистента модератора{% endblock %} 
{% block content %}
<h2>Результаты работы ассистента модератора</h2>
<p>
    Ниже представленных комментарии, которые программа определила как подозрительные. 
    Как вы можете видеть, комментарии далеко не всегда являются грубыми. Мы можем помочь нашему ассистенту, подсказав как переобучить модель.
    Если вы видите обычный комментарий, который получил отметку «грубый», пожалуйста, отметьте комментарий «не грубость». 
    Когда мы ассистент соберет N «ошибок», он автоматически вызовет создание новой модели.
</p>    
<p>
    <table>
        {% for item in comments %}
        <tr>
            <th>
                
            </th>
        </tr>
        {% endfor %}
    </table>
</p>
{% endblock %}
